@import "tailwindcss";

@theme {
  --color-primary: #007BFF;
  --color-primary-hover: #0056b3;
  --color-secondary: #F8F9FA;
  --color-danger: #DC3545;
  --color-border-gray: #DEE2E6;
  --color-text-dark: #212529;
  --color-text-muted: #6c757d;
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter), 'Inter', sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

::-webkit-scrollbar {
  display: none;
}
